html, body {
    margin: 0;
    padding-top: 60px;
    background-image: linear-gradient(#E9F6E3, #F6F0E3);
}

/* creates fixed header */
.header {
    background-color: #4A7856;
    height: 110px;
    font-family: serif;
    color: #E9F6E3;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header h1 {
    text-align: center;
    padding: 15px;
}

@media only screen
and (max-width : 414px)
and (max-height : 736px)
{
    #logo {
        height: 100px;
    }
}

/* creates navigation bar */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    background-color: #d9d9d9;
    /* padding: 17px; */
}

#nav li {
    display: inline-block;
    text-decoration: none;
    color: #D5F5E3;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
}

#nav li a {
    /* padding: 15px; */
    text-decoration: none;
    color: #1E3F20;
    font-size: 20px;
    white-space: nowrap;
    font-weight: lighter;
}

#nav li:hover a { 
    background: #d9d9d9;
    color: #4A7856;
}

.text {
    display: inline-flex;
}

#nav li:hover {
    color: #1E3F20;
}

#nav li:hover ul {
    display: block;
    position: absolute;
}

#nav li:hover li {
    float: none;
    font-size: 11px;
}

#nav ul li {
    display: block;
    position: relative;
    float: left;
}

#nav li ul {
    display: none;
    float: center;
}

#nav ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 15px;
}


#nav ul li a {
    display: block;
    padding: 20px 15px 20px 15px;
    text-decoration: none;
    color: #1E3F20;
    font-size: 20px;
    margin-left: 1px;
    white-space: nowrap;
    text-align: left;
}

#nav ul li a:hover {
    color: #4A7856;
}

.show {
    display: block;
}

/* positions logo in top left corner */
#logo {
    max-height: 140px;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 100px;
    background-color: white;
    margin-top: -50px;
    margin-left: -80px;
}

ul {
    display: flex;
}

.book {
    color: #1E3F20;
    font-weight: bold;
}

/* styles image banner */
.bannerText {
    position: absolute;
    top: 30%;
    left: 50%;
    letter-spacing: 0.2em;
    padding: 40px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    font-family: sans-serif;
}

.banner {
    width: 100vw;
    height: 50%;
    margin-top: -20px;
    object-fit: cover;
    object-position: 80% 20%;
    opacity: 0.9;
    filter: brightness(60%) blur(0.5px);
}

/* style for desciption above services */
.serviceDescription {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #1E3F20;
    padding-top: 175px;
}

/* styles services section */
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vw;
    padding-bottom: 175px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    display: inline-flex;
    background-color: #000;
    padding: 20px;
    width: 20%;
}

#batting, #trampoline, #miniGolf, #karting {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#batting::before {
    background-image: url("battingCage.jpeg");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
}

#batting h1, #trampoline h1, #miniGolf h1, #karting h1 {
    position: relative;
    text-align: center;
    padding: 50px;
}

#batting h1 a, #trampoline h1 a, #miniGolf h1 a, #karting h1 a {
    text-decoration: none;
    color: #fff;
}

#trampoline::before {
    background-image: url("trampoline\ park.2.jpeg");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.75;
}

#miniGolf::before {
    background-image: url("mini\ golf.2.jpeg");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.75;
}

#karting::before {
    background-image: url("gocart.1.jpeg");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.75;
}

/* styles about section */
.about {
    font-size: 30px;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    padding-bottom: 200px;
}

.about h1 {
    text-align: center;
    color: #1E3F20;
}

.about p {
    font-size: 24px;
}

/* styles footer */
#footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: sans-serif;
    background-color: #1E3F20;
    padding: 8px;
}

#footer li {
    display: inline;
}

#footer li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #D5F5E3;
    font-size: 16px;
}
