html, body {
    margin: 0;
    padding-top: 60px;
    background-image: linear-gradient(#E9F6E3, #F6F0E3);
}

.header {
    background-color: #1E3F20;
    height: 110px;
    font-family: serif;
    color: #D5F5E3;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header h1 {
    text-align: center;
    padding: 15px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #4A7856;
    padding: 8px;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #D5F5E3;
    font-size: 20px;
}

#nav li a:hover {
    color: #94ECBE;
}

#logo {
    height: 110px;
    align-self: left;
    position: fixed;
    top: 0;
    z-index: 99;
}

.bannerText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E3F20;
    font-size: 60px;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    opacity: 0.3;
}

.container {
    display: flex;
    width: 100vw;
    height: 20vw;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    display: inline-flex;
    order: 3;
    background-color: #A57548;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    color: #332518;
}

#batting {
    /* padding: 34px 40px;
    color: #fff;
    position: relative;
    z-index: 2; 
    margin-top: auto;
    margin-bottom: 0; */
    background-image: url("battingCage.jpg");
    background-size: cover;
}

#trampoline {
    background-image: url("trampoline\ park.2.jpeg");
    background-size: cover;
}

#miniGolf {
    background-image: url("mini\ golf.2.jpeg");
    background-size: cover;
}

#karting {
    background-image: url("gocart.1.jpeg");
    background-size: cover;
}

.about {
    font-size: 30px;
    font-family: sans-serif;
    width: 60%;
    margin: auto;
    display: block;
}

.about h1 {
    text-align: center;
    color: #1E3F20;
}

#footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: sans-serif;
    background-color: #1E3F20;
    padding: 8px;
}

#footer li {
    display: inline;
}

#footer li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #D5F5E3;
    font-size: 16px;
}
